.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 8px;
  background-color: #ccc;
  padding: 15px 60px;
  cursor: pointer;
  height: 48px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:active:enabled {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button_primary {
  background-color: var(--primary);
  color: var(--white);
}

.button_primary:hover:enabled {
  background-color: var(--primary-hover);
}

.button_secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.button_secondary:hover:enabled {
  background-color: var(--secondary-hover);
}

.button_alternate {
  background-color: var(--alternate);
  color: var(--gray-4);
  border: 1px solid var(--gray-3);
}

.button_alternate:hover:enabled {
  color: var(--black);
  border: 1px solid var(--black);
}

.button_alternate:active:enabled {
  background-color: var(--gray-2);
}
