.accordion {
  width: 730px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.accordion summary,
p {
  font-family: Inter, sans-serif;
}

.accordion p {
  margin: 0;
  padding: 0;
}

.accordion__item {
  box-sizing: border-box;
  border: 1px solid var(--gray-3);
  border-radius: 8px;
  margin-bottom: 8px;
}
.accordion__item {
  min-height: 72px;
}

.accordion__item[open] {
  min-height: 144px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  cursor: pointer;
  display: block;
  list-style: none;
  padding-left: 32px;
  padding-top: 24px;
  color: var(--black);
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  margin: 16px 49px 32px 32px;
  color: var(--gray-4);
}
