.histogram {
  padding: 24px;
  background: var(--white);
  border: 1px solid var(--gray-3);
  border-radius: 8px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.histogram__title,
.histogram__total,
.histogram__link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.histogram__title {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  opacity: 0.8;
  margin: 0 0 6px;
}

.histogram__link {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--blue);
}

.histogram__total {
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  margin: 0 0 39px;
}

.histogram__bars {
  height: 50px;
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.histogram__bar {
  background-color: #4263eb;
  width: 100%;
}
