.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  flex-grow: 1;
}

.page_inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page__main_inner {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 56px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .page__main_inner {
    grid-template-columns: 0 1fr;
    gap: 0;
  }
  .page__aside {
    display: none;
  }
}
