.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__trigger {
}

.tooltip__help {
  background: #4263eb;
  box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 10px;
  padding: 13px 21px;
  color: var(--gray-2);
  position: absolute;
  white-space: nowrap;
  left: 50%;
  bottom: calc(100% + 6px);
  transform: translateX(-50%);
  display: none;
}

.tooltip__help::after {
  content: '';
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-top: 6px solid #4263eb;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__help {
  display: block;
}
