.logo {
  display: inline-flex;
  gap: 8px;
}

.logo__square {
  background-color: var(--black);
  width: 30px;
  height: 30px;
}

.logo__circle {
  background-color: var(--black);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo__triangle {
  border-right: 32px solid var(--white);
  border-bottom: 32px solid var(--black);
}
