.preview {
  padding: 68px 0 68px;
}

.preview__cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, calc((100% - 320px) / 3))
  );
  grid-template-rows: repeat(auto-fill, minmax(367px, 1fr));
  justify-content: center;
  grid-gap: 30px;
}

@media screen and (max-width: 767px) {
  .preview__cards {
    grid-template-columns: repeat(
      auto-fill,
      minmax(164px, calc((100% - 32px) / 2))
    );
    grid-template-rows: repeat(auto-fill, minmax(210px, 1fr));
    justify-content: center;
    grid-gap: 16px;
  }
}
