.preview {
  padding: 68px 0 68px;
}

.preview__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 30%));
  grid-template-rows: repeat(auto-fill, minmax(367px, 1fr));
  grid-gap: 30px;
}
